#boton_menu:hover, #boton_modo:hover{
    box-shadow: 2px 2px black;
}

.nav-item{
    transition: transform 2s;
}

.nav-item:hover{
    transform: rotate(360deg);
}

.mostrar_aside{
    display: none;
}

header, main {
    width: 100%;
}

main{
    padding-top: 80px;
}

aside{
    width: 5%;
}

@media screen and (max-width: 775px) {
    header, main {
        width: 100%;
    }
    aside{
        width: 100%;
    }
}